.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 60px;
    background:#2563eb;
    color:white;
    position:sticky;
    top:0;
    z-index:100;
}

.logo{
    font-size:28px;
    font-weight:bold;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:35px;
}

.nav-links a{
    color:white;
    text-decoration:none;
    font-size:18px;
    font-weight:500;
}

.nav-links a:hover{
    color:#ffd54f;
}